#footer {
    width          : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    border-top     : 1px solid var(--primary-color);
    height         : 4rem;
    text-align     : center;

    p {
        font-size  : 0.8rem;
        font-family: var(--primary-font);
        margin     : 0;
    }
}