/** ------ Content ------ */

body {
    background-color: var(--background-color-body);
    color           : var(--font-color);
    transition      : background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.content section {
    min-height        : 100vh;
    padding-top   : 5rem;
    padding-bottom: 5rem;
}

.content hr {
    border-top: var(--primary-color) solid;
    opacity   : 1;
}

.content .titleSection {
    font-family: var(--primary-font);
}

.content .contentSection {
    font-family   : var(--secondary-font);
    font-size     : 1.5rem;
    font-weight   : bold;
    letter-spacing: 1.5px;
    line-height   : 2rem;
}

@media (max-width: 40em) {
    .content section {
        height        : auto;
        padding-top   : 5rem;
        padding-bottom: 5rem;
    }
}