/** ------ Header ------ */

#header {
    height          : 4rem;
    border-bottom   : 1px solid var(--primary-color);
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 0;
    padding         : 0;
    background-color: var(--background-color-body);
}

#header .navbar-nav {
    display        : flex;
    justify-content: space-between !important;
    max-width      : 1340px;
    width          : 100%;
}

#header .nav {
    max-width      : 1340px;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
}

#header .nav-link {
    font-family    : var(--primary-font);
    font-size      : 1rem;
    text-decoration: none;
    color          : var(--font-color);
    padding        : 0.5rem 0.8rem;
    border-radius  : 0.5rem;
}

#header .form-check-label {
    font-family: var(--primary-font);
    font-size  : 0.8rem;
}

#header .nav-item {
    display    : flex;
    align-items: center;
}

#header .nav-item .btn {
    color        : var(--font-color);
    font-family  : var(--primary-font);
    font-size    : 0.8rem;
    border       : 1px solid var(--font-color);
    border-radius: 0.5rem;
}

#header .nav-item .nav-link:hover,
#header .nav-item .btn:hover {
    background-color: var(--background-link);
    color           : var(--primary-color);
}

@media (max-width: 40em) {

    #header .navbar-collapse {
        background-color: var(--background-color-body);
        position        : fixed;
        top             : 4rem;
        height          : fit-content;
        left            : 0;
        right           : 0;
        bottom          : 0;
        z-index         : 9999;
        overflow-y      : auto;
        border-bottom   : 2px solid var(--primary-color);
        padding-bottom  : 1rem;
    }

    #header .navbar-toggler {
        border: 1px solid var(--font-color);
    }

    #header .nav-item .btn {
        margin-left: 0.8rem;
    }
}