/** Quien Soy */

#whoAmI .leftCol,
#whoAmI .rightCol {
    width: 50%;
}

#whoAmI .leftCol {
    display        : flex;
    flex-direction : column;
    justify-content: center;
}

#whoAmI .rightCol {
    display        : flex;
    justify-content: center;
}

#whoAmI .profileImage {
    border-radius: 0.5rem;
    box-shadow   : 0px 0px 10px var(--font-color);
}

#whoAmI .socialNetworks {
    display        : flex;
    justify-content: space-evenly;
    margin-top     : 2rem;
}

#whoAmI .socialNetworks a {
    text-decoration : none;
    color           : var(--font-color);
    font-weight     : bold;
    letter-spacing  : 4px;
    background-color: var(--background-color-body);
    border          : 1px solid var(--primary-color);
    border-radius   : 0.5rem;
    width           : 12rem;
    text-align      : center;
}

#whoAmI .socialNetworks button:hover {
    background-color: var(--background-link);
    color           : var(--primary-color);
}

#whoAmI .socialNetworks a:hover {
    background-color: var(--background-link);
    color           : var(--primary-color);
}

@media (max-width: 40em) {

    #whoAmI .leftCol,
    #whoAmI .rightCol {
        width: 100%;
    }

    #whoAmI .rightCol {
        margin-top: 1rem;
    }

    #whoAmI .socialNetworks {
        gap: 1rem;
    }
}